body {
  font-family: 'Vazirmatn';
}

.custom-input {
  label {
    @apply left-0 after:mr-1 after:ml-0 after:rounded-tr-none after:rounded-tl-md after:border-l after:border-r-0 before:mr-0 before:ml-1 before:rounded-tl-none before:rounded-tr-md before:border-r before:border-l-0 peer-focus:before:border-0 peer-focus:after:border-r-0;


  }
}

.peer:focus ~ .peer-focus\:before\:border-l-2::before {
  border-left: none !important;
}

.peer:focus ~ .peer-focus\:after\:border-t-2::after {
  border-right: none !important;
}
